body {
  font-family:helvetica, sans-serif ;
}

#stars li {
  display:inline-block;
  width:50px;
  height:50px;
}
#stars li:after {
  position: relative;
  top: -12px;
  font-size: 50px;
  content: "☆";
}
#stars li.selected:after {
  content: "★";
}

#all-done {
  display: none;
}
body.all-done #stars {
  display: none;
}
body.all-done #ingredient {
  display: none;
}
body.all-done #all-done {
  display: block;
}

